[submodule "sociout-frontend"]
	path = sociout-frontend
	url = https://github.com/tuan-hda/sociout-frontend
[submodule "sociout-backend"]
	path = sociout-backend
	url = https://github.com/elghe39/sociout-backend
